<footer class="footer bg-light" style="margin-top:16px;padding-bottom:16px;padding-top:16px;">
    <div class="row justify-content-center">
        <h4>Contact</h4><br>
    </div>
    <div class="row justify-content-center">
        <p class="text-center">
            alberse.john@gmail.com <br>
            Resume available on request
        </p>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/JohnAlberse">
            <span class="fab fa-twitter"></span>
        </a>
        <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/johnalberseart/">
            <span class="fab fa-instagram"></span>
        </a>
        <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/john-alberse-518453172/">
            <span class="fab fa-linkedin"></span>
        </a>
        <a class="btn btn-social-icon btn-github" href="https://github.com/jalberse">
            <span class="fab fa-github"></span>
        </a>
    </div>
</footer>