{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% include "portfolio/global-head.html" %}
    <!-- Page css -->
    <link rel="stylesheet" href="{% static 'portfolio/css/gallery.css' %}">

    <title>{{ gallery.title }}</title>
  </head>
  <body>
    <!-- Global navbar -->
    {% include "portfolio/navbar.html" %}
    <!-- Art category navigation -->
    <!-- For an arbitrary number of art categories -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <ul class="navbar-nav">
        {% for gal in gallery_list %}
          {% if gal.id == gallery.id %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'portfolio:gallery' gal.slug %}">{{gal.title}}</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'portfolio:gallery' gal.slug %}">{{gal.title}}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="container-fluid">
      <!-- Gallery Information -->
      <div class="row justify-content-center pt-1">
        <h1>
          {{ gallery.title }}
        </h1>
      </div>
      <!-- Any vimeo videos -->
      <div class="row justify-content-center mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          {% for embed in gallery.embed_set.all %}
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="{{ embed.src }}" allowfullscreen></iframe>
            </div>
          {% endfor %}
        </div>
        <div class="col-sm-2"></div>
      </div>
      <!-- The gallery -->
      <div class="row">
        <div class="col-sm-4">
          {% for media in gallery.media_set.all %}
            {% if forloop.counter0|divisibleby:3 %}
              <img class="img-fluid mb-1" src="{{ media.media.url }}" alt="{{ media.alttext }}">
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-sm-4">
          {% for media in gallery.media_set.all %}
            {% if forloop.counter0|add:2|divisibleby:3 %}
              <img class="img-fluid mb-1" src="{{ media.media.url }}" alt="{{ media.alttext }}">
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-sm-4">
          {% for media in gallery.media_set.all %}
            {% if forloop.counter0|add:1|divisibleby:3 %}
                <img class="img-fluid mb-1" src="{{ media.media.url }}" alt="{{ media.alttext }}">
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    
    {% include "portfolio/footer.html" %}

    <!-- Bootstrap javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>